@import url('pc.css');
@import url('tablet.css');
@import url('phone.css');

body, input, select, textarea, button {
    font-family: Dangrek, Muli, sans-serif;
    border-radius: 0;
}
textarea {
    resize: vertical;
}
._input {
    padding: 3px 6px;
    border: solid 1px #DDD;
}
.active {
    color: lightgreen;
}
.caution, a:hover {
    color: indianred;
    text-decoration: none;
}
legend {
    font-size: 17px;
}
body[page="login"] nav a,
fieldset table {
    display: none;
}
fieldset legend {
    cursor: pointer;
}
