@import url('pc.css');
@import url('tablet.css');
@import url('phone.css');

html {
    margin: 0 auto;
    max-width: 1000px;
}
body, input, select, textarea, button {
    font-family: Dangrek, Muli, sans-serif;
    border-radius: 0;
}
textarea {
    resize: vertical;
}
._input {
    padding: 3px 6px;
    border: solid 1px #DDD;
}
input:read-only, textarea:read-only { 
    background-color: whitesmoke;
}
input[type="number"] {
    width: 100px;
}
.active {
    color: lightgreen;
}
.caution, a:hover {
    color: indianred;
    text-decoration: none;
}
legend {
    font-size: 17px;
}
body[page="login"] nav a,
fieldset table {
    display: none;
}
fieldset table.open {
    display: table;
}
fieldset legend {
    cursor: pointer;
}
.mr20 {
    margin-right: 20px;
}
a.back-button {
    display: inline-block;
    margin-bottom: 15px;
    border: dashed 1px;
    padding: 4px 8px;
}
.float-right {
    float: right;
}
div.shift-wrap {
    border: dashed 2px;
    position: relative;
    margin-bottom: 10px;
}
div.shift-wrap div.action-wrap {
    position: absolute;
    top: 5px;
    right: -5px;
}
div.action-wrap .action-btn {
    float: right;
}
