@media only screen and (max-width: 450px) {
    table tr td {
        display: block;
    }
    table.list tr {
        border-bottom: dashed 1px whitesmoke;
    }
    table.key-value tr td {
        display: table-cell;
    }
    table td.action {
        float: right;
        padding: 8px;
    }
    td.action img.icon {
        margin: 0 7px;
    }
    table td#roles label {
        width: 48%;
    }
    nav {
        display: none;
    }
    nav a {
        display: block;
        padding: 8px;
        border-right: none;
        border-bottom: 1px dotted #DDD;
    }
    nav a:hover {
        background-color: #FBFBFB;
    }
    span.menu-icon {
        display: block;
        float: right;
        padding: 25px 10px 0 0;
        cursor: pointer;
    }
    body[page='login'] span.menu-icon {
        display: none;
    }
    table input[type='text'],
    table input[type='password'],
    table textarea {
        width: 98%;
    }

}
